@font-face {
    font-family: freight big pro;
    src: url(./Freight\ Big\ Pro\ Light\ Italic.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "freight big pro";

}
html,
body {
  width: 100%;
  height: 100%;
}
#page1 {
  width: 100%;
  height: 100vh;
  background-color: #f5e41b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#page1 h1 {
  font-size: 15vh;
  font-weight: 200;
    line-height: 7vw;
}
#page2 {
  width: 100%;
  height: 100vh;
  background-color: black;
}
#page3 {
  width: 100%;
  height: 100vh;
  background-color: white;
}
